{% extends '::base.html.twig' %}
{% block title %}Delete Logs{% endblock %}
{% block navigation %}
    {% include '::navigation.auth.html.twig' %}
{% endblock %}

{% block body -%}
  <h1>Delete all logs?</h1>
  {{ form(delete_form) }}
{% endblock %}